@use "../abstract/variables" as *;
// .admin-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   height: 50vh;
//   width: 30vw;

//   flex-direction: column;
//   background-color: $CDarkBlue;
//   input {
//     height: 2.5em;
//     width: 70%;
//     background-color: $CBlue;
//     border: 3px solid $CDarkGreen;
//   }
//   button {
//     height: 2.5em;
//     width: 50%;
//     background-color: $CBlue;
//     border: none;
//   }
//   button:hover {
//     background-color: $CDarkGreen;
//     transition: 0.25s;
//   }
// }
.admin-broadcast-container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  min-height: 350px;
  width: 30vw;
  text-align: center;
  background-color: $CDarkerBlue;
  border-radius: 0.25em;

  box-shadow: 0 0 15px black;
  h1 {
    padding: 1em 0;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 1em;
    input,
    button {
      border-radius: 0.5em;
      font-size: 1.25rem;
    }
    input {
      height: 2.5em;
      width: 70%;
      background-color: $CBlue;
      border: 3px solid $CDarkGreen;
    }
    button {
      height: 2.5em;
      width: 50%;
      background-color: $CBlue;
      border: none;
    }
    button:hover {
      background-color: $CDarkGreen;
      transition: 0.25s;
    }
  }
}
