/* Hide scrollbar for Chrome, Safari and Opera */
.individual-channel::-webkit-scrollbar,
.message-container::-webkit-scrollbar {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
}
header h1 {
  animation: 5s ease-in infinite rotation;
  margin-left: 1em;
}
header button {
  height: 2em;
}

@keyframes rotation {
  0% {
    transform: rotateZ(-5deg);
    scale: 1;
  }
  25% {
    transform: rotateZ(5deg);
    scale: 1.1;
  }
  50% {
    transform: rotateZ(-5deg);
    scale: 1.1;
  }
  75% {
    transform: rotateZ(5deg);
    scale: 1;
  }
  100% {
    transform: rotateZ(-5deg);
    scale: 1;
  }
}
.main-container {
  display: flex;
  justify-content: space-between;
  height: 70vh;
}
.main-container .channels-container {
  width: 30%;
  position: relative;
  padding: 1em;
  background-color: #071833;
  border-radius: 0.25em;
  border: 3px solid #3f831b;
}
.main-container .channels-container .admin-container {
  position: absolute;
  top: 1em;
  left: 1em;
}
.main-container .channels-container .create-channel-container {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 2em 0 0 0;
}
.main-container .channels-container .create-channel-container form {
  display: flex;
  flex-direction: column;
  background-color: #3a5a8d;
  border: 3px solid #6bba41;
  border-radius: 0.3em;
}
.main-container .channels-container .create-channel-container form input,
.main-container .channels-container .create-channel-container form button {
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  text-align: center;
  color: #d9d9d9;
}
.main-container .channels-container .create-channel-container form input {
  height: 3em;
}
.main-container .channels-container .create-channel-container form button {
  height: 2em;
  border-top: 1px solid #6bba41;
  border-radius: 0.3em;
}
.main-container .channels-container .channel-header {
  text-align: center;
  margin: 0 auto;
  padding: 0.3em;
}
.main-container .channels-container .individual-channel {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: 60%;
  display: flex;
  flex-direction: column;
}
.main-container .channels-container .individual-channel .channel {
  border-bottom: 3px solid #6bba41;
  padding: 0 0 0.3em 0;
}

.message-section {
  background-color: #071833;
  padding: 1em;
  border-radius: 0.25em;
  border: 3px solid #6bba41;
}
.message-section .message-container {
  position: relative;
  display: block;
  height: 75%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.message-section .message-container .message {
  position: relative;
  display: block;
  width: 80%;
  margin-bottom: 3em;
  padding: 0.25em;
  border-radius: 0.25em;
}
.message-section .message-container .message::after {
  width: 25px;
  height: 25px;
  content: "";
  position: absolute;
}
.message-section .message-container .message:nth-child(odd) {
  background-color: #3a5a8d;
  margin-right: 0.25em;
  margin-left: auto;
}
.message-section .message-container .message:nth-child(odd)::after {
  right: -10px;
  bottom: -10px;
  background-color: #3a5a8d;
  border-bottom-right-radius: 0.25em;
  border-bottom-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}
.message-section .message-container .message:nth-child(even) {
  background-color: #d9d9d9;
  color: #01060d;
  margin-right: auto;
  margin-left: 0.25em;
}
.message-section .message-container .message:nth-child(even)::after {
  left: -10px;
  bottom: -10px;
  background-color: #d9d9d9;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
}
.message-section form {
  height: 10%;
  background-color: #3a5a8d;
  margin: 0.5em;
  padding: 0 1em;
  border-radius: 0.25em;
  display: flex;
  align-items: center;
  border: 3px solid #6bba41;
}
.message-section form button {
  border: 0.15em solid #01060d;
}
.message-section form button,
.message-section form input {
  border: none;
  border-radius: 0.25em;
  color: #d9d9d9;
  background-color: #3a5a8d;
  font-size: 1.25rem;
}

body {
  background-color: #3a5a8d;
  color: #d9d9d9;
}/*# sourceMappingURL=main.css.map */