$CDarkYellow: #96911f;
$CBrightYellow: #fff97f;
$CRed: #921e26;
$CDarkerBlue: #071833;
$CDarkBlue: #1c3763;
$CBlue: #3a5a8d;
$CLightBlue: #6e92ca;
$CBlack: #01060d;
$CDarkGreen: #3f831b;
$CBrightGreen: #6bba41;
$CWhite: #d9d9d9;
$CPlaceholder: #9b9898;
